env

volumes/homeassistant/config/**
volumes/mosquitto/config/**
volumes/mosquitto/data/**
volumes/mosquitto/logs/**
volumes/mqtt-explorer/config/**
volumes/zigbee2mqtt/data/**

!volumes/homeassistant/config/.gitkeep
!volumes/mosquitto/config/.gitkeep
!volumes/mosquitto/data/.gitkeep
!volumes/mosquitto/logs/.gitkeep
!volumes/mqtt-explorer/config/.gitkeep
!volumes/zigbee2mqtt/data/.gitkeep

!volumes/mosquitto/config/mosquitto.conf
!volumes/mosquitto/config/mosquitto.passwd
!volumes/zigbee2mqtt/data/configuration.yaml.example
