version: 4
mqtt:
    base_topic: zigbee2mqtt
    server: mqtt://<MQTT_IP_ADDRESS>:<PORT>
    user: <USER>
    password: <PASSWORD>
serial:
    port: tcp://<SLZB06_IP_ADDRESS>:<PORT>
    adapter: zstack
    baudrate: 115200
    rtscts: false
advanced:
    channel: 15
    network_key: GENERATE
    pan_id: GENERATE
    ext_pan_id: GENERATE
frontend:
    enabled: true
homeassistant:
    enabled: true